{% extends 'postagens/base.html' %}
{% load staticfiles %}

{% block conteudo %}
<!-- Cabeçalho da Página -->
<header class="intro-header parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>#blogDjango</h1>
                    <hr class="small">
                    <span class="subheading">Dicas de desenvolvimento ágil de aplicações web</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Conteúdo Principal -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for postagem in postagens %}
            <div class="post-preview">
                <a href="{% url 'postagens_detalhes' pk=postagem.pk %}">
                    <h2 class="post-title">
                        {{ postagem.titulo }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ postagem.descricao | linebreaksbr }}
                    </h3>
                </a>
            </div>
            <hr>
            {% endfor %}

            <!-- Paginador -->
            <ul class="pager">
                <li class="previous">
                    {% if postagens.has_previous %}
                        <a href="?page={{ postagens.previous_page_number }}">&larr; Anteriores</a>
                    {% endif %}
                </li>
                <li class="next">
                    {% if postagens.has_next %}
                        <a href="?page={{ postagens.next_page_number }}">Próximas &rarr;</a>
                    {% endif %}
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock conteudo %}